{{!< layout}}
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <p id="pagetitle" class="subtitle">Welcome to the {{title}} Checklist</p>
    </div>
  </div>
</header>

<div class="aui-page-panel main-panel">
  <div class="aui-page-panel-inner">
    <section class="aui-page-panel-item">
      <div class="aui-group">
        <div id='checklist'>

          {{#each groups}}

          <input type="checkbox" id=group{{this.groupid}} name="check1" onclick="group({{this.groupid}})">
          <label for="check1"> {{this.group}}</label><br>

            <div id=groupdiv{{this.groupid}} style="display: none">
            {{#each questions}}

              <input type="checkbox" id=question{{this.qid}} name="check1">
              <label for="check1"> {{this.question}}</label><br>

              {{#if subquestions}}

                {{#each subquestions}}
                  <div style="text-indent:40px;">
                    <input type="checkbox" id=subquestion{{this.qid}} name="check2">
                    <label for="check2"> {{this.question}}</label><br>
                  </div>
                {{/each}}

              {{/if}}
            {{/each}}
            </div>
          {{/each}}

          <button class="aui-button" onclick="buttonClick({{json questions}})">submit</button>
        </div>
        <div id="result" style="visibility:hidden">
          <p id="ausgabetext"></p>
          <button class="aui-button" onclick="back()">go back</button>
        </div>
      </div>
    </section>
  </div>
</div>
